@use "@fontsource-variable/cabin/scss/mixins" as Cabin;

$weights: $font-weight-light, $font-weight-normal, $font-weight-semibold, $font-weight-bold;
$subsets: (latin, latin-ext);
$font-path: "./plugins/nodebb-theme-talksimlish" !default;

@include Inter.faces(
	$weights: $weights,
	$subsets: $subsets,
	$display: fallback,
	$directory: "#{$font-path}/cabin"
);
